* {
    font-family: 'Poppins', sans-serif;
    padding-top: 3px;
    background-color: hsl(0, 0%, 98%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a {
     color: hsl(228, 45%, 44%); 
}

.container_1 {
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.container_2 {
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: hsl(234, 12%, 34%);
}

.container p {
    text-align: center;
    font-weight: 200;
    font-size: 15px;
}

#content {
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    display: flex-row;
    justify-content: center;
    vertical-align: middle;
}

.Supervisor {
    width: 380px;
    height: 280px;
    display: inline-block;
}

.builder__karma {
    width: 380px;
    height: 200px;
    display: inline-block;
}

.Calculator {
    width: 380px;
    height: 280px;
    display: inline-block;
}

.cards {
    border: 4px solid white;
    position: relative;
    width: 290px;
    height: 180px;
    padding: 2rem;
    margin: 0.7rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

h3 {
    background: white;
    font-weight: 600;
    margin-top: 0;
}

#content p {
    font-weight: 200;
    background-color: white;
    font-size: 15px;
}

.card__1 {
    border-top-color: hsl(180, 62%, 55%);
    background-color: white;
    bottom: 130px;   
}

.card__2 {
    border-top-color:hsl(0, 78%, 62%);
    background-color: white;
}

.card__3 {
    border-top-color: hsl(34, 97%, 64%);
    background-color: white;
}

.card__4 {
    border-top-color:hsl(212, 86%, 64%);
    background-color: white;
    bottom: 130px;
}

.cards .image {
    background: white;
    height: 60px;
    width: 280px;
}

.image img {
    background: white;
    position: relative;
    padding-left: 220px;
    padding-top: 10px;
}

footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}